<h1 class="text-center">Listing all articles</h1>
<div class="text-center">
  <%= link_to  "Create new article", new_article_path, class: "btn btn-primary" %>
</div>
<%= render 'article', obj: @articles %>
