<div class="container">
  <div class="card mb-3 my-3 container">
    <h5 class="card-title mt-3">
      <%= @article.title %>
    </h5>
    <p class="card-text mb-3">
      Description: <%= @article.description %>
    </p>
  </div>
  <%= link_to  "Edit Article", edit_article_path(@article), class: "me-3 btn btn-primary" %>
  <%= link_to  "Back to articles listing", articles_path, class: "btn btn-secondary" %>
</div>
